<header>
  <h1><%= @brand %></h1>
</header>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Last 5 Tweets</h3>
    </div>

    <div class="row">
      <% @tweet5.each do |tweet5| %>
        <div class="card col-6">
          <td class="card-block"><%= tweet5.message %></td>
          <td class="card-text text-muted"><%= time_ago_in_words(tweet5.created_at)%></td>
        </div>
      <% end %>
    </div>
  </div>
</div>
